<h1 id="tableLabel">Gestión de pólizas</h1>

<p>Desde este espacio puede gestionar las pólizas, agregar, modificar, eliminar</p>

<p *ngIf="!vm"><em>Cargando, espere por favor...</em></p>

<section  *ngIf="vm">
  <section class="row">
    <section class="col-lg">
      <section class="clearfix">
        <h2 class="float-left">Lista de pólizas</h2>
        <button class="btn btn-default float-right" title="Crear Póliza..."
                (click)="showNewPolicyModal(newPolicyModalTemplate)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </section>
      <section class="table-responsive">
        <table class="table table-striped table-m">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo de Cobertura</th>
              <th>Cobertura</th>
              <th>Inicio</th>
              <th>Periodo</th>
              <th>Valor</th>
              <th>Riesgo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let insurancePolicy of vm.insurancePolicies; index as i">
              <td>{{insurancePolicy.name}}</td>
              <td>{{insurancePolicy.coverageTypeName}}</td>
              <td>{{insurancePolicy.coverage | percent}}</td>
              <td>{{insurancePolicy.coverageStart | date}}</td>
              <td>{{insurancePolicy.coveragePeriod}}</td>
              <td>{{insurancePolicy.policyValue | currency }}</td>
              <td>{{insurancePolicy.riskTypeName}}</td>
              <td>
                <button (click)="showPolicyEditModal(editPolicyModalTemplate,insurancePolicy)"
                        class="btn btn-default btn-xs" role="button">
                  <fa-icon [icon]="faEllipsisH"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>          
    </section>
  </section>
</section>

<ng-template #editPolicyModalTemplate>
  <section class="modal-header clearfix">
    <h4 class="modal-title float-left">Editar Poliza</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="editPolicyModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>
  <section class="modal-body">
    <section class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="ingrese el nombre de la poliza" [(ngModel)]="editPolicyEditor.name" required
             [ngClass]="{ 'is-invalid': editPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="note">Descripción</label>
      <textarea id="note" class="form-control" rows="2" [(ngModel)]="editPolicyEditor.description" placeholder="ingrese la descripcion..." required></textarea>
    </section>
    <section class="form-group">
      <label for="coverageTypeId">Tipo de cobertura</label>
      <select class="form-control" id="coverageTypeId" [(ngModel)]="editPolicyEditor.coverageTypeId">
        <option [ngValue]="item.id" *ngFor="let item of coverageTypeVm.coverageTypes">{{ item.name }}</option>
      </select>
    </section>
    <section class="form-group">
      <label for="coverage">Porcentaje de Cobertura %</label>
      <input type="text" width="50" class="form-control" id="coverage" placeholder="ingrese la cobertura..." [(ngModel)]="editPolicyEditor.coverage" required
             [ngClass]="{ 'is-invalid': editPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="coverageStart">Inicio de la cobertura</label>
      <input type="text"
             [(ngModel)]="editPolicyEditor.coverageStart"
             id="coverageStart"
             placeholder="yyyy-mm-dd"
             class="form-control"
             bsDatepicker
             [bsConfig]="{ isAnimated: true,containerClass: 'theme-dark-blue' }">
    </section>
    <section class="form-group">
      <label for="coveragePeriod">Periodo de cobertura en meses</label>
      <input type="text" class="form-control" id="coveragePeriod" placeholder="ingrese el periodo de cobertura..." [(ngModel)]="editPolicyEditor.coveragePeriod"
             [ngClass]="{ 'is-invalid': editPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="policyValue">Valor de la cobertua</label>
      <input type="text" class="form-control" id="policyValue" placeholder="ingrese el valor de cobertura..." [(ngModel)]="editPolicyEditor.policyValue"
             [ngClass]="{ 'is-invalid': editPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="riskType">Tipo de Riesgo</label>
      <select class="form-control" id="riskType" [(ngModel)]="editPolicyEditor.riskType">
        <option [ngValue]="0">Bajo</option>
        <option [ngValue]="1">Medio</option>
        <option [ngValue]="2">Medio-Alto</option>
        <option [ngValue]="3">Alto</option>
      </select>
    </section>
  </section>
  <section class="modal-footer">
    <section class="clearfix">
      <section class="float-left">
        <button class="btn btn-default text-danger" (click)="confirmDeleteList(deletePolicyModalTemplate)">Eliminar</button>
      </section>
      <section class="float-right">
        <button class="btn btn-default" (click)="editPolicyModalRef.hide()">Cancelar</button>
        <button class="btn btn-primary" (click)="updatePolicy()">Actualizar</button>
      </section>
    </section>
  </section>
</ng-template>

<ng-template #newPolicyModalTemplate>
  <section class="modal-header clearfix">
    <h4 class="modal-title float-left">Nueva Poliza</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="newPolicyCancelled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>
  <section class="modal-body">
    <section class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="ingrese el nombre de la poliza" [(ngModel)]="newPolicyEditor.name" required
             [ngClass]="{ 'is-invalid': newPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="note">Descripción</label>
      <textarea id="note" class="form-control" rows="2" [(ngModel)]="newPolicyEditor.description" placeholder="ingrese la descripcion..." required></textarea>
    </section>
    <section class="form-group">
      <label for="coverageTypeId">Tipo de cobertura</label>
      <select class="form-control" id="coverageTypeId" [(ngModel)]="newPolicyEditor.coverageTypeId">
        <option [ngValue]="item.id" *ngFor="let item of coverageTypeVm.coverageTypes">{{ item.name }}</option>
      </select>
    </section>
    <section class="form-group">
      <label for="coverage">Porcentaje de Cobertura %</label>
      <input type="text" width="50" class="form-control" id="coverage" placeholder="ingrese la cobertura..." [(ngModel)]="newPolicyEditor.coverage" required
             [ngClass]="{ 'is-invalid': newPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="coverageStart">Inicio de la cobertura</label>
      <input type="text"
             [(ngModel)]="newPolicyEditor.coverageStart"
             id="coverageStart"
             placeholder="yyyy-mm-dd"
             class="form-control"
             bsDatepicker
             [bsConfig]="{ isAnimated: true,containerClass: 'theme-dark-blue' }">
    </section>
    <section class="form-group">
      <label for="coveragePeriod">Periodo de cobertura en meses</label>
      <input type="text" class="form-control" id="coveragePeriod" placeholder="ingrese el periodo de cobertura..." [(ngModel)]="newPolicyEditor.coveragePeriod"
             [ngClass]="{ 'is-invalid': newPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="policyValue">Valor de la cobertua</label>
      <input type="text" class="form-control" id="policyValue" placeholder="ingrese el valor de cobertura..." [(ngModel)]="newPolicyEditor.policyValue"
             [ngClass]="{ 'is-invalid': newPolicyEditor.error }" />
    </section>
    <section class="form-group">
      <label for="riskType">Tipo de Riesgo</label>
      <select class="form-control" id="riskType" [(ngModel)]="newPolicyEditor.riskType">
        <option [ngValue]="0" selected>Bajo</option>
        <option [ngValue]="1">Medio</option>
        <option [ngValue]="2">Medio-Alto</option>
        <option [ngValue]="3">Alto</option>
      </select>
    </section>
  </section>
  <section class="modal-footer">
    <section class="text-right">
      <button class="btn btn-default" (click)="newPolicyCancelled()">Cancelar</button>
      <button class="btn btn-primary" (click)="addPolicy()">Crear</button>
    </section>
  </section>
</ng-template>

<ng-template #deletePolicyModalTemplate>
  <section class="modal-header clearfix">
    <h4 class="modal-title float-left">Eliminar "{{ insurancePolicy.name }}"</h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="deleteListModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </section>
  <section class="modal-body">
    <p>¿Realmente desea eliminar la póliza {{insurancePolicy.name}}?. </p>
    
  </section>
  <section class="modal-footer">
    <section class="text-right">
      <button type="button" class="btn btn-default" (click)="deleteListModalRef.hide()">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="deletePolicy()">Eliminar</button>
    </section>
  </section>
</ng-template>
