<h1>Hola!</h1>
<p>Bienveido al sistema de gestion de pólizas nacionales donde usted podra:</p>
<ul>
  <li>Crear Nuevos Clientes</li>
  <li>Crear Nuevas Polizas</li>
  <li>Asignar o Cancelar las polizas a los clientes</li>
</ul>
<p>Puede iniciar con los siguientes links, o tambien puede acceder a ellos desde el menu superior derecho:</p>
<ul>
  <li><a class="nav-link text-dark" [routerLink]="['/policies']">Gestion de pólizas.</a></li>
  <li><a class="nav-link text-dark" [routerLink]="['/customers']">Gestion de clientes.</a></li>
  <li><a class="nav-link text-dark" [routerLink]="['/assign-policy']">Asignación o cancelación.</a></li>
</ul>
<p>Esperamos que la plataforma optimice tus procesos</p>
